{% load comments markup %}
{% get_comment_count for post as comments %}

<div class="post">
    <h1 class="post-title">
        <a href="{% url core:post post.pk %}">{{ post.title }}</a>
    </h1>
    <p class="post-posted_at">{{ post.datetime|date:'l, N d, Y - P' }}</p>
    <p class="post-tags">{% with post.tags.all as tags %}
        {% if tags %}Tagged as {% for tag in tags %}
            <a href="">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% else %}No tags{% endif %}{% endwith %}
    </p>
    <div class="post-text">{{ post.text|markdown:'safe,codehilite' }}</div>
    <p class="post-comments_count{% if show_comments %}-title{% endif %}">
        {% if comments %}{{ comments }} comment{{ comments|pluralize }} posted.
        <a href="{% url core:post post.pk %}#newcomment">Write one</a>!
        {% else %}No comments yet.{% endif %}
    </p>
    {% if show_comments %}
    {% get_comment_list for post as comment_list %}
        {% if comments %}
        <dl id="comments">
        {% for comment in comment_list %}
            <div class="comment">
                <dt>
                    <span class="comment-id">{{ forloop.counter }}</span>
                {% if comment.user_url %}
                    <a href="{{ comment.user_url }}">{{ comment.user_name }}</a>
                {% else %}
                    {{ comment.user_name }}
                {% endif %}
                    <small>wrote at {{ comment.submit_date|date:'l, N d, Y - P' }}</small>
                </dt>
                <dd>{{ comment.comment }}</dd>
            </div>
        {% endfor %}
        </dl>
        {% endif %}
        <div id="comment-new" class="comment">
            <a name="newcomment"></a>
            <h3>Write a comment</h3>
            {% get_comment_form for post as form %}
            <form id="comment-new-form" action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url core:post post.pk %}" />
            {% for field in form %}{% if field.is_hidden %}
                {{ field }}
            {% endif %}{% endfor %}
                <div class="form-row">
                    {{ form.name.errors }}
                    <label for="id_name">Name</label>{{ form.name }}
                </div>
                <div class="form-row">
                    {{ form.email.errors }}
                    <label for="id_email">E-mail</label>{{ form.email }}
                </div>
                <div class="form-row">
                    {{ form.url.errors }}
                    <label for="id_url">URL</label>{{ form.url }}
                </div>
                <div class="form-row">
                    {{ form.comment.errors }}
                    <label for="id_comment">Comment</label>{{ form.comment }}
                </div>
                <div class="form-submitrow">
                    <input type="submit" name="post" value="Post"/>
                </div>
            </form>
        </div>
    {% endif %}
</div>
