html {
    background: #555;
    font-family: 'sans', sans-serif
}
body {
    margin: 0
}

#m {
    margin: 0 auto;
    width: 940px
}

#h, #f {
    background: #444;
    border: 1px solid #aaa;
    border-top: none;
    border-radius: 0 0 5px 5px;
    color: #ddd
}
#h {
    padding: 1em 2em
}
#f {
    border: none;
    border-top: 1px solid #aaa;
    border-radius: 0;
    font-size: .8em;
    padding: 1em
}

#h *, #f * {
    margin: 0;
    padding: 0
}

.post {
    background: #eee;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 1em
}
.post-title {
    border-bottom: 1px solid #000;
    padding: .1em .3em
}
.post-title a {
    color: #000
}
.post-text,
.comment {
    background: #333;
    border-radius: 5px;
    color: #ddd;
    margin: .5em;
    padding: 1em;
    box-shadow: #333 0 0 5px;
    -webkit-box-shadow: #333 0 0 5px;
    -moz-box-shadow: #333 0 0 5px
}
.post-posted_at,
.post-tags,
.post-comments_count,
.post-comments_count-title {
    color: #666;
    font-size: .8em;
    margin: .5em 0;
    padding: 0 1em
}
.post-posted_at {
    float: right
}

.post-comments_count-title {
    font-size: 1.2em;
    margin: 1.5em .5em .5em .5em;
    padding: 0
}
#comments,
#comment-new {
    margin: .5em
}
.comment {
    background: #444;
    margin: 0 0 1em 0;
    position: relative
}
.comment dt {
    font-weight: bold;
    margin-bottom: .4em
}
.comment dt .comment-id {
    color: #888;
    position: absolute;
    right: 5px;
    top: 3px
}
.comment dt small {
    color: #ccc;
    font-size: .7em;
    font-weight: normal
}
.comment dd {
    font-size: .8em;
    padding-left: 1em
}

#comment-new-form {
    margin: 1em
}

#paginator {
    margin-bottom: 1em;
    text-align: center
}
#paginator a, #paginator span,
#paginator input, #paginator select {
    background: #222;
    border: 1px solid #999;
    border-radius: 4px;
    display: inline-block;
    padding: .3em .5em
}
#paginator a:hover,
#paginator input:hover, #paginator input:focus,
#paginator select:hover, #paginator select:focus {
    background: #333;
    box-shadow: #69d 0 0 5px;
    -webkit-box-shadow: #69d 0 0 5px;
    -moz-box-shadow: #69d 0 0 5px
}
#paginator span {
    background: #666;
    cursor: default
}
#paginator form {
    display: inline
}
#paginator input, #paginator select {
    color: #fff
}
