<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EvandroMyller.blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="keywords" content="emyller,evandro myller,blog,mandoo,mandoojs,javascript"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/g.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/s.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/p.css"/>
    {% block css %}{% endblock %}
    <link rel="alternate" type="application/rss+xml" title="EvandroMyller.blog latest posts" href="{% url core:rss %}"/>
</head>
<body>
<div id="m">
{% block header %}
<div id="h">
    <form id="search" method="GET">
        <input type="hidden" name="rpp" value="{{ rpp }}"/>
        <input type="text" name="q"/>
        <input type="submit" value="Search"/>
    </form>
    <h1><a href="{% url core:home %}">EvandroMyller.blog</a></h1>
    <p>Random nerdish thoughts.</p>
</div>
{% endblock %}
{% block content %}{% endblock %}
</div>
{% block footer %}
<div id="f">
    <p>© <a href="http://emyller.net/">Evandro Myller</a></p>
</div>
{% endblock %}

<a id="feedback-link" href="mailto:evandromyller@gmail.com">Feedback</a>
<a id="rss-link" href="{% url core:rss %}">RSS</a>

<script type="text/javascript" src="{{ MEDIA_URL }}js/mandoo/core.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/ux.js"></script>
{% block js %}{% endblock %}
</body>
</html>
