<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EvandroMyller.blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="keywords" content="emyller,evandro myller,blog,mandoo,mandoojs,javascript"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/g.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/s.css"/>
    {% block css %}{% endblock %}
</head>
<body>
<div id="m">
{% block content %}{% endblock %}
</div>
</body>
</html>
